[user]
    email = weird@syngin.net
    name = Mel Boyce

[core]
    excludesfile = ~/.gitignore

[pager]
	branch = false

[alias]
    br = branch
    ci = commit
    co = checkout
    st = status

[credential]
    helper = myob
    helper = melbcc
