[user]
    email = weird@syngin.net
    name = Mel Boyce

[core]
    excludesfile = ~/.gitignore

[pager]
	branch = false

[alias]
    l  = "log --format='%n%n%C(yellow)%>(15,trunc)%h%C(cyan) %H%n%C(yellow)%>(15,trunc)%cr%C(cyan) %cD%n%C(yellow)%>(15,trunc)%cn%C(cyan) %ce%n%>(15)%C(white) %s%Creset' --numstat"
    br = branch
    ci = commit
    co = checkout
    sh = show
    st = status

[credential]
    helper = myob
    helper = melbcc
