!-----------------------------------------------------------------------------
! Xresources/Xdefaults
!
! vim: set fenc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
!-----------------------------------------------------------------------------


!-- fonts
Xft.antialias:          1
Xft.autohint:           1
Xft.dpi:                91
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb


!-- terminals
xterm*termName:         xterm-256color
xterm*faceName:         terminus:pixelsize=12
xterm*utf8:             2
xterm*saveLines:        1024
xterm*loginShell:       true
xterm*dynamicColors:    true

URxvt*termName:         rxvt-unicode-256color
URxvt*loginShell:       true
URxvt*jumpScroll:       true
URxvt*transparent:      false
URxvt*shading:          7
URxvt.depth:            24
URxvt*fading:           0
URxvt*blurRadius:       0
URxvt.scrollBar:        off
URxvt.font:             xft:PragmataPro:size=10:style=Regular
URxvt.boldFont:         xft:PragmataPro:size=10:style=Regular
URxvt.letterSpace:      0
URxvt.saveLines:        2048
URxvt*visualBell:       false
URxvt*urgentOnBell:     true
URxvt.perl-ext-common:  "default,clipboard,-searchable-scrollback"
!URxvt.colorUL:          #24d
URxvt.iso14755:         false


!-- rofi
rofi.color-normal:    #001010, #e0e0f0, #102020, #103070, #d0a007
rofi.color-urgent:    #001010, #e0e0f0, #102020, #103070, #d0a007
rofi.color-active:    #001010, #e0e0f0, #102020, #103070, #d0a007
rofi.modi:            run,ssh
rofi.font:            PragmataPro 10
rofi.bw:              0
rofi.line-margin:     0
rofi.hide-scrollbar:  1
rofi.separator-style: none
rofi.scrollbar-width: 0
rofi.padding:         1
rofi.terminal:        st


!-- colors
!! various
*background:            #161720
*foreground:            #d7d0d7
*fadeColor:             #000000
*cursorColor:           #93a1a1
*pointerColorBackground:#586e75
*pointerColorForeground:#93a1a1

!! black
*color0:  #161720
*color8:  #303037

!! red
*color1:  #a33
*color9:  #e44

!! green
*color2:  #252
*color10: #8a3

!! yellow
*color3:  #950
*color11: #da0

!! blue
*color4:  #33a
*color12: #44f

!! magenta
*color5:  #95a
*color13: #c7d

!! cyan
*color6:  #276
*color14: #4ba

!! white
*color7:  #667
*color15: #eef
